</style>

<div class="centered-table">
<table>
<caption><h2>路由状态总览</h2></caption>
<tr>
<th>机型</th>
<td><%=luci.sys.exec("cat /proc/cpuinfo | grep 'machine' | awk -F':' '{print $2}'")%></td>
</tr>
<tr>
<th>处理器</th>
<td><%=luci.sys.exec("cat /proc/cpuinfo | grep 'system type' | awk '{print $5}'")%></td>
</tr>
<tr>
<th>编译时间</th>
<td><%=luci.sys.exec("uci get summary.summary.ttt")%></td>
</tr>
<tr>
<th>内核版本号</th>
<td><%=luci.sys.exec("uname -r")%></td>
</tr>
<tr>
<th>IP地址</th>
<td><%=luci.sys.exec("uci get network.lan.ipaddr")%></td>
</tr>
<tr>
<th>外网接口状态</th>
<td>
<% if luci.sys.exec("ip link show dev wan | grep 'state UP'") ~= "" then %>
    <span style="color: rgb(13, 221, 13);">物理wan口已连接：100 Mbps</span>
    <tr>
    <th>上级IP</th>
    <td><%=luci.sys.exec("ip route | awk '/default/ {print $3}'")%></td>
    </tr>
    <tr>
    <th>WAN口拨号协议</th>
    <td><%=luci.sys.exec("uci get network.wan.proto")%></td>
    </tr>
<% else %>
    <% if luci.sys.exec("iw dev | awk '/Interface/ {name=$2} /type managed/ {print name; exit}'") ~= "" then %>
        <span style="color: rgb(13, 221, 13);"><%= luci.sys.exec("iw dev | awk '/Interface/ {name=$2} /type managed/ {print name; exit}'") %>已连接:<%=luci.sys.exec("iw dev $(iw dev | awk '/Interface/ {name=$2} /type managed/ {print name; exit}') link | awk '/tx bitrate:/ {upload=$3} /rx bitrate:/ {download=$3} END {print \"↑ \" upload \" MBit/s / ↓ \" download \" MBit/s\"}'")%></span>
        <tr>
        <th>上级IP</th>
        <td><%=luci.sys.exec("ip route | awk '/default/ {print $3}'")%></td>
        </tr>
    <% else %>
        <span style="color: red;">未连接</span>
    <% end %>
<% end %>
</td>
<tr>
  <th>网络连接状态</th>
  <td>
    <span id="network-status">
      <% if luci.sys.call("ping -c 1 8.8.8.8 > /dev/null") == 0 then %>
        <span style="color: rgb(13, 221, 13);">已连接到互联网</span>
      <% else %>
        <span style="color: red;">网络异常</span>
      <% end %>
    </span>
  </td>
</tr>
<tr>
<th>日期</th>
<td><%=os.date("%Y-%m-%d")%></td>
</tr>
<tr>
<th>开机时间</th>
<td><%=luci.sys.exec("uptime -s")%></td>
</tr>
<tr>
<th>累计运行时间</th>
<td><%
local file = io.open("/proc/uptime", "r")
if file then
    local uptime = file:read("*n")
    file:close()
    local days = math.floor(uptime / 86400)
    local hours = math.floor((uptime % 86400) / 3600)
    local minutes = math.floor((uptime % 3600) / 60)
    local seconds = math.floor(uptime % 60)
    print(string.format("%d天 %02d时 %02d分 %02d秒", days, hours, minutes, seconds))
else
    print("无法获取累计运行时间")
end
%></td>
<tr>
<th>已分配IP数量</th>
<td><%=luci.sys.exec("cat /tmp/dhcp.leases | wc -l")%></td>
</tr>
<tr>
<th>CPU负载</th>
<td><%=luci.sys.exec("uptime | awk -F 'load average: ' '{print $2}'")%></td>
</tr>
</tr>
</table>
</div>
